<p><%= t('.hello', user: @resource.username) %></p>

<p><%= t('.someone_request') %></p>

<p><%= link_to t('.change_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('.if_you_dont') %></p>
<p><%= t('.not_change') %></p>
