<!DOCTYPE html>
<html>
  <head>
    <title>EntryPoint2018</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="app">
      <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">Logo</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <% if user_signed_in? %>
            <li>
              <%= link_to(t('.sign_out'), destroy_user_session_path, method: :delete) %>
            </li>
            <% else %>
            <li>
              <%- if controller_name != 'sessions' %>
                <%= link_to t('.sign_in'), new_session_path(resource_name) %>
              <% end -%>
            </li>
            <li>
              <%- if controller_name != 'registrations' %>
                <%= link_to t('.sign_up'), new_user_registration_path %>
              <% end -%>
            </li>
            <% end %>
            <li><a href="collapsible.html">JavaScript</a></li>
          </ul>
        </div>
      </nav>
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
    <%= javascript_pack_tag 'hello_vue' %>
  </body>
</html>
