<h2><%= title %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.hidden_field :username %>
    <%= resource.username %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.hidden_field :email %>
    <%= resource.email %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.hidden_field :password %>
    ********
  </div>

  <div class="actions">
    <%= f.submit t('.back'), name: 'back' %>
    <%= f.submit t('.auth_with_email'), name: 'email' %>
    <%= f.submit t('.auth_with_twitter'), name: 'twitter' %>
    <%= f.submit t('.auth_with_facebook'), name: 'facebook' %>
  </div>
<% end %>
