<div class="login-form">
  <div class="card hoverable">
    <div class="card-content">
      <span class="card-title center"><%= title %></span>
      <div class="divider"></div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <div class="form-inputs row">

          <div class="input-field col s12 username required user_username">
            <i class="material-icons prefix">person</i>
            <%= f.text_field :username, readonly: true %>
          </div>

          <div class="input-field col s12 password required user_password">
            <i class="material-icons prefix">lock</i>
            <%= f.text_field :password, readonly: true, value: '************' %>
            <%= f.hidden_field :password %>
          </div>
        </div>
        <div class="form-actions center">
          <%- if resource.auth_with_email? %>
          <i class="btn waves-effect waves-input-wrapper" style="">
            <%= f.submit t('.send_confirmation_email'), name: 'auth_via_email', class: 'waves-button-input' %>
          </i>
          <% else %>
          <i class="btn waves-effect waves-input-wrapper" style="">
            <%= f.submit t('.auth_via_email'), name: 'email_form', class: 'waves-button-input' %>
          </i>
          <% end -%>
          <br>
          <i class="btn waves-effect waves-input-wrapper" style="">
            <%= f.submit t('.auth_via_twitter'), name: 'auth_via_twitter', class: 'waves-button-input' %>
          </i>
          <br>
          <i class="btn waves-effect waves-input-wrapper" style="">
            <%= f.submit t('.auth_via_facebook'), name: 'auth_via_facebook', class: 'waves-button-input' %>
          </i>
          <br>
          <i class="btn waves-effect waves-input-wrapper" style="">
            <%= f.submit t('.back'), name: 'form', class: 'waves-button-input' %>
          </i>
        </div>
      <% end %>
      <div class="card-action">
        <div class="devise-links">
          <%= render "users/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
document.onkeypress = function(e){
    var ref=e.target;
    if(e.key === 'Enter' && (ref.type == 'text' || ref.type == 'radio' || ref.type == 'checkbox' || ref.type == 'password')){
        return false;
    }
}
</script>
